---
# Overwrite Tachyons here. Don't go overboard!
---

@import 'https://fonts.googleapis.com/css?family=Raleway|Raleway+Dots';

.roboto {
  font-family: "Raleway";
  letter-spacing: .05em;
  padding: 25px;
}

.pagetitle {
  font-family: "Raleway Dots";
  font-size: 3rem;
}

// keeps links from being underlined.
a{text-decoration:none;}

// Measure is limited to ~100? / 800px / 50em characters
.measure-wide {
  max-width: 40em;
}

/*
for hover text swap
https://codepen.io/ifekt/pen/zBaEVJ
https://stackoverflow.com/questions/19058421/how-to-change-content-on-hover
*/

.item {}
.label {}
.label.success {}
span.add-label{
 display:none;
}
.item:hover span.align{
 display:none;
}
.item:hover span.add-label{
 display:block;
}
