---
# Overwrite Tachyons here. Don't go overboard!
---

@import 'https://fonts.googleapis.com/css?family=Muli:400,700';

.roboto {
  font-family: "Muli";
  letter-spacing: .05em;
  padding: 25px;
}

.cf {
  clear: both;
}

.cf-4th {
  &:nth-child(4n) {
    margin-right: 0;
    clear: both;
  }
}

.p-fix {
  &:nth-child(3n) {
    padding-right: 0;
    margin-right: 0;
  }
}

// keeps links from being underlined. But there's still a space between multiple tags…
a{text-decoration:none;}

// Measure is limited to ~100? / 800px / 50em characters
.measure-wide {
  max-width: 50em;
}
