<header class="ma4 ma5-ns">
  <a class="f2 link white" href="{{ site.url }}">{{ site.title }} <span class="o-50">{{ site.version }}</span></a>
  <p class="f4 mb4 db lh-copy mt1 o-50">{{ site.description }}</p>
  <a class="link ba mr3 br2 pa3 f5 mb3 dib red dim" href="https://raw.githubusercontent.com/gwijthoff/gadgetry/master/_data/gadget_data.json">Download Data</span></a>
  <a class="link ba mr3 br2 pa3 f5 mb3 dib red dim" href="/colophon">Colophon</span></a>
  <span class="hide-child">
    <a class="link ba mr3 br2 pa3 f5 mb3 dib red dim" href="/">Decade-by-Decade</a>
      <span class="child link ba mr3 br2 pa3 f5 mb3 dib light-silver dim">
        <span><a class="link red dim" href="/decades/1880s">1880s</a></span>
      </span>
      <span class="child link ba mr3 br2 pa3 f5 mb3 dib light-silver dim">
        <span><a class="link red dim" href="/decades/1890s">1890s</a></span>
      </span>
      <span class="child link ba mr3 br2 pa3 f5 mb3 dib light-silver dim">
        <span><a class="link red dim" href="/decades/1900s">1900s</a></span>
      </span>
      <span class="child link ba mr3 br2 pa3 f5 mb3 dib light-silver dim">
        <span><a class="link red dim" href="/decades/1910s">1910s</a></span>
      </span>
      <span class="child link ba mr3 br2 pa3 f5 mb3 dib light-silver dim">
        <span><a class="link red dim" href="/decades/1920s">1920s</a></span>
      </span>
      <span class="child link ba mr3 br2 pa3 f5 mb3 dib light-silver dim">
        <span><a class="link red dim" href="/decades/1930s">1930s</a></span>
      </span>
      <span class="child link ba mr3 br2 pa3 f5 mb3 dib light-silver dim">
        <span><a class="link red dim" href="/decades/1940s">1940s</a></span>
      </span>
      <span class="child link ba mr3 br2 pa3 f5 mb3 dib light-silver dim">
        <span><a class="link red dim" href="/decades/1950s">1950s</a></span>
      </span>
      <span class="child link ba mr3 br2 pa3 f5 mb3 dib light-silver dim">
        <span><a class="link red dim" href="/decades/1960s">1960s</a></span>
      </span>
      <span class="child link ba mr3 br2 pa3 f5 mb3 dib light-silver dim">
        <span><a class="link red dim" href="/decades/1970s">1970s</a></span>
      </span>
      <span class="child link ba mr3 br2 pa3 f5 mb3 dib light-silver dim">
        <span><a class="link red dim" href="/decades/1980s">1980s</a></span>
      </span>
      <span class="child link ba mr3 br2 pa3 f5 mb3 dib light-silver dim">
        <span><a class="link red dim" href="/decades/1990s">1990s</a></span>
      </span>
      <span class="child link ba mr3 br2 pa3 f5 mb3 dib light-silver dim">
        <span><a class="link red dim" href="/decades/2000s">2000s</a></span>
      </span>
      <span class="child link ba mr3 br2 pa3 f5 mb3 dib light-silver dim">
        <span><a class="link red dim" href="/decades/2010s">2010s</a></span>
      </span>
  </span>
</header>
