@import "https://fonts.googleapis.com/css?family=Raleway|Raleway+Dots";
.roboto {
  font-family: "Raleway";
  letter-spacing: .05em;
  padding: 25px; }

.pagetitle {
  font-family: "Raleway Dots";
  font-size: 3rem; }

.cf {
  clear: both; }

.cf-4th:nth-child(4n) {
  margin-right: 0;
  clear: both; }

.p-fix:nth-child(3n) {
  padding-right: 0;
  margin-right: 0; }

a {
  text-decoration: none; }

.measure-wide {
  max-width: 40em; }
